<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" p-8 bg-gray-600 h-screen w-full">
        <div>
            <button class=" p-2 bg-blue-600 rounded"><a href="/find"> all users</a></button>
            <button class=" p-2 bg-blue-600 rounded"><a href="/login">Login</a></button>
        </div>
        <form method="post" action="/create">
            <input class=" m-2 p-2 outline-none rounded-sm" type="text" placeholder="username" name="username">
            <input class=" m-2 p-2 outline-none rounded-sm" type="email" placeholder="email" name="email">
            <input class=" m-2 p-2 outline-none rounded-sm" type="password" placeholder="password" name="password">
            <input class=" p-2 bg-blue-600 rounded" type="submit" value="create user">
        </form>
    </div>
</body>
</html>